.container {
  display: flex;
  font-size: small;
  justify-content:space-around;
}

.table {
  border-collapse: collapse;
  width: 40;
}

th, td {
  border: none;
  padding: 5px 10px;
  text-align: right;
}
.table tr:nth-child(odd) {
  background-color: rgb(240, 240, 240);
  color: black;
}

th{
  background-color: white; 
  border-bottom: 1px solid black;  
}
