.container {
  display: flex;
  justify-content: space-around;
}

.table {
  border-collapse: collapse;
  width: 31%;
}

.table tr:nth-child(odd) {
  background-color: grey;
  color: black;
}
th, td {
  border: 1px solid black;
  padding: 4px 8px;
  text-align: center;
}
