.container {
  display: flex;
  font-size: small;
  justify-content:space-evenly;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: none;
  padding: 5px 10px;
  text-align: right;
}
.table tr:nth-child(odd) {
  background-color: rgb(240, 240, 240);
  color: black;
}

@media (max-width: 800px) {
  .container {
      flex-direction: column;
  }
}

th{
  background-color: white; 
  border-bottom: 1px solid black;  
}
